#offline-banner {
  display: none; 
  position: relative;
  width: 100%;
  background: #ff4f4f;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0;
  z-index: 9999;
  transition: all 0.3s ease;
}
/* displayed when active */
body.offline #offline-banner {
  display: block;
  position: sticky;
  top: 0;
}
/* smooth content shift */
body.offline main,
body.offline header,
body.offline section {
  transition: margin-top 0.3s ease;
  margin-top: 42px; /* wysokość paska */
}
.helper320 {
  background-color: #ff4f4f;
  height: 8px;
  width: 320px;
  align-self: center;
}
/* BODY */ /* ------------------------------------------------------------------------ */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: #15161c;
  color: white;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 96%;
  margin: 12px;
  border-radius: 36px;
  position: sticky;
  top: 0;
  z-index: 100;
  flex-shrink: 0;
  padding-left: 8vw;
  padding-right: 8vw;
  background: rgba(255, 255, 255, 0.05); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}

.tabNav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 40%;
}
.navbar a {
  text-decoration: none;
  width: 64px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 2px;
}

.tabNavItem {
  color: rgb(189, 189, 189);
  align-items: center;
  align-items: center;
  justify-content: center;
}

.tabNavItemSelected {
  color: white;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.navbar a:hover {
  opacity: 0.72;
}

/* CALENDAR */ /* ------------------------------------------------------------------------ */
.calendar {
  margin-top: 2svh;
  height: 48vh;
  background-color: #15161c;
  flex-shrink: 0;
}
.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}
#currentMonth {
  width: 176px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  border-radius: 50px;
  height: 40px;
  /* liquid glass effect */
  background: rgba(255, 255, 255, 0.02); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
.monthArrow {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  color: white;

  /* liquid glass effect */
  background: rgba(255, 255, 255, 0.02); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.2s ease;             /* płynne przejście */
}
.monthArrow:hover {
  opacity: 72%;
}
.calendar-grid-wrapper {
  max-width: 560px;
  margin: 0 auto; 
  display: block; 
  text-align: center;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  padding-left: 20px;
  padding-right: 20px;
  justify-items: center;
}
.day,
.day-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  opacity: 0.6;
  line-height: 24px;
}
.day {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff88;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.day:hover {
  opacity: 50%;
}
.day.active {
  opacity: 100%;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
}
/* TASKS */ /* ------------------------------------------------------------------------ */
#taskDateTitle {
  padding-top: 4vh;
  padding-left: 4vw;
  margin: 0;
  flex-shrink: 0;
  margin-top: 2vh;
}
.toDo {
  display: flex;
  flex: 1 1 0; 
  flex-direction: column;
  align-self: center;
  min-height: 0;
  margin: 0;
  width: 740px;
}
.toDoListWrapper {
  flex: 1 1 0;      
  min-height: 0;     
  overflow-y: auto;
  margin-top: 8px;
}
#toDoList {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 0;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 0;
}
.taskItem {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  transition: transform 0.25s ease, opacity 0.25s ease;
  background: rgba(255, 255, 255, 0.02); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
}
.taskItem.done {
  opacity: 0.5;
  text-decoration: line-through;
}
.taskItem.is-completed {
  opacity: 0.5 !important; 
  transition: all 0.3s ease;
}

.taskItem.is-completed .taskLabel {
  text-decoration: line-through;
  color: #888;
}

.taskItem.is-completed .taskCheckbox {
  accent-color: #4caf50;
}


.taskLabel {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.taskLabel:hover {
  opacity: 64%;
}
.rowWrapper {
  display: flex;
  align-items: center; 
  gap: 8px;
}
.taskMetaWrapper {
  display: flex;
  flex-direction: column; 
  font-size: 10px;
  color: rgba(255,255,255,0.6);
}
.taskActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.taskCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.moreBtn, .deleteTaskBtn {
  background: transparent; 
  color: #fff;
  border: none;             
  padding: 8px;             
  cursor: pointer;          
  outline: none;            
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

.show-delete .moreBtn {
  color: #ff4e4e;
  background: transparent; 
}

.deleteTaskBtn {
  display: none; 
  animation: fadeIn 0.2s ease forwards;
  background-color: rgba(255, 255, 255, 0)000;
}

.show-delete .deleteTaskBtn {
  display: flex;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(5px); }
  to { opacity: 1; transform: translateX(0); }
}

.progress-ring-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-text {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
}

.progress-text {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
}

/* Light Scrollbar Chrome, Safari, Edge */
.taskListWrapper::-webkit-scrollbar {
  width: 8px; 
}
.taskListWrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 4px;
}
.taskListWrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6); 
  border-radius: 4px;
}
.taskListWrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); 
}
/* Firefox */
.taskListWrapper {
  scrollbar-width: thin; 
  scrollbar-color: rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.05); 
}

.addTaskBtn {
  border-radius: 24px;
  padding: 12px 14px;
  font-size: 28px;
  line-height: 20px;
  position: absolute;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
.addTaskBtn:hover {
  opacity: 72%;
}


/* MODAL */  /* ------------------------------------------------------------------------ */
/* Tło */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.modal-sheet {
  position: absolute;
  bottom: 0;
  left: 0; right: 0; margin: 0 auto;
  transform: translate(-50%, 100%);
  background: rgba(30,30,30,0.95);
  backdrop-filter: blur(20px);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  transform: translateY(100%);
  transition: 0.35s cubic-bezier(.4,0,.2,1);
  height: auto;
  max-width: 660px;
  align-self: center;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(12px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
  gap: 12px;
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#closeModal {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
  cursor: pointer;
}
#closeModal:hover {
  opacity: 72%;
}
/* OTWARTY MODAL */
.modal-overlay.open {
  opacity: 1;
  pointer-events: auto;
}
.modal-overlay.open .modal-sheet {
  transform: translateY(0);
}
.typePickers {
  display: flex;
  align-items: center;
  gap: 8px;
}
.typePicker {
  cursor: pointer;
  box-shadow: none;
  color: #dedede;
  font-weight: 600;
  font-size: 16px;
  padding: 6px 12px;
  line-height: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(12px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
.typePicker:hover {
  opacity: 72%;
}
.typePicker.active {
  color: #fff;
  text-decoration: underline;
  cursor: auto;
}
.typePicker.active:hover {
  opacity: 100%;
}

.modalSubTitle {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
}

.nameSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#taskName {
  padding: 10px 16px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
  color: #fff;
  font-weight: 600;
}
#taskName::placeholder { 
  color: rgba(255, 255, 255, 0.64); 
  opacity: 1; /* Firefox domyślnie zmniejsza opacity nie wiadomo czemu */
  font-weight: 400;
}

#habitSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#habitFrequency {
  color: #fff;
  font-size: 14px;
  padding: 10px 16px;
  border-radius: 24px;
  appearance: none;

  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(12px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
  
  padding-right: 40px; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

#daysPicker:not([style*="display: none"]) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  margin: 15px 0;
}

#daysPicker label {
  width: 40px;               
  height: 40px;              
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;        
  
  color: white;
  font-size: 11px;           
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  backdrop-filter: blur(2px);
}

#daysPicker input[type="checkbox"] {
  display: none;
}

#daysPicker label:has(input:checked) {
  background: #4caf50;
  border-color: #81c784;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
  transform: scale(1.1);     /* Lekkie powiększenie zaznaczonego dnia */
}

#daysPicker label:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

#dateSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#taskDate {
  padding: 10px 16px;
  border-radius: 24px;
  align-items: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
#taskDate::-webkit-datetime-edit-fields-wrapper { 
  color: rgba(255, 255, 255, 0.64); 
} 
#taskDate::-webkit-datetime-edit-text { 
  color: rgba(255, 255, 255, 0.64); 
} 
#taskDate::-webkit-datetime-edit-month-field, 
#taskDate::-webkit-datetime-edit-day-field, 
#taskDate::-webkit-datetime-edit-year-field { 
  color: rgba(255, 255, 255, 0.64); 
} 
#taskDate:focus::-webkit-datetime-edit-month-field, 
#taskDate:focus::-webkit-datetime-edit-day-field, 
#taskDate:focus::-webkit-datetime-edit-year-field { 
  color: #fff; /* po wpisaniu/wybraniu daty */ 
}


.month-selector-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  background: rgba(255, 255, 255, 0.05);
  max-height: 240px; 
  padding: 10px;
  border-radius: 12px;
}

.month-selector-grid label, .day-selector-grid label {
  cursor: pointer;
}

.month-selector-grid input, .day-selector-grid input {
  display: none; /* hiding default checkbox */
}

.month-selector-grid span, .day-selector-grid span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  font-size: 12px;
  transition: 0.2s;
}

.month-selector-grid input:checked + span, 
.day-selector-grid input:checked + span {
  background: #4caf50;
  color: white;
  font-weight: bold;
}

#monthDaysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 kolumn, jak w kalendarzu */
  gap: 8px;
  margin-top: 10px;
}

#monthDaysGrid span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

#monthDaysGrid input:checked + span {
  background: #4caf50; /* Twój zielony kolor */
  color: white;
}

#heroSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#descriptionInput {
  color: #fff;
  padding: 10px 16px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
#descriptionInput::placeholder {
  color: rgba(255, 255, 255, 0.64); 
  opacity: 1; /* Firefox domyślnie zmniejsza opacity nie wiadomo czemu */
  font-weight: 400;
}

.locationSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.locationContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#locBtn {
  padding: 10px 16px;
  border-radius: 24px;
}
#locationInput {
  color: #fff;
  padding: 10px 16px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
#locationInput::placeholder {
  color: rgba(255, 255, 255, 0.64); 
  opacity: 1; /* Firefox domyślnie zmniejsza opacity nie wiadomo czemu */
  font-weight: 400;
}
.lucide-search-check {
  line-height: 16px;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
}
#searchLocation {
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 24px;
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
#searchLocation:hover {
  opacity: 72%;
}
/* Animacja obracania */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading svg {
  animation: spin 1s linear infinite;
  opacity: 0.5;
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}

.lucide-locate {
  color: #fff;
  line-height: 16px;
}
#useMyLocation {
  padding: 10px 12px;
  border-radius: 24px;
  cursor: pointer;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}
#useMyLocation::placeholder {
  color: rgba(255, 255, 255, 0.64); 
  opacity: 1; /* Firefox domyślnie zmniejsza opacity nie wiadomo czemu */
  font-weight: 400;
}
#useMyLocation:hover {
  opacity: 72%;
}
input.success {
  border: 1px solid #4caf50;
}

input.error {
  border: 1px solid #ff4f4f;
}

.addTask {
  padding: 10px 16px;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 600;
}

/* HABITS */ /* ------------------------------------------------------------------------ */
.habit-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 32px 16px;
  margin-left: 20px;
  margin-right: 20px;
  scroll-snap-type: x mandatory;
  max-width: 600px;
  align-items: center;
  justify-content: safe center;  
  margin: 0 auto;
}

.noHabitsMsg {
  padding: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.habit-card-mini {
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  background: rgb(67, 67, 67);
  padding: 12px;
  border-radius: 20px;
  text-align: center;
  text-wrap: wrap;
  max-width: 120px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  scroll-snap-align: start;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid transparent; 
  gap: 4px;
}

.habit-card-mini.active-card {
  background: rgb(80, 80, 80); 
  border-color: #4caf50;      
  transform: translateY(-5px); 
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.crucialHabitStats {
  display: flex;
  flex-direction: row;
  gap: 20%;
  margin-bottom: 40px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.editHabitDetail {
  background: transparent;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 4px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  line-height: 0; 
  margin-left: 4px;
}
.editHabitDetail:hover {
  opacity: 72%;
}

.stat-items-secondary {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 32px;
}

.stat-item-secondary {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 72%;
}

.stat-label {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.64); 

}
.stat-data {
  font-size: 14px;
}

.month-stats-row{
  display: flex; 
  flex-direction: row;
  justify-content: space-between; 
  margin-top: 15px; 
  font-size: 13px;
  max-width: 264px;
  width: 100%;
} 

.stats-grid {
  max-width: 480px;
  width: 100%;
  justify-self: center;
  justify-content: flex-start;
  padding: 0px 12px; /* TRBL // Trzy wartości (Góra, Boki, Dół) // Dwie wartości (Góra/Dół, Boki)*/
}

.habit-percentage-label {
  font-size: 14px;
  font-weight: bold;
  color: #614caf; 
  margin-top: 5px;
}

.habit-name-label {
  font-size: 12px;
  color: white;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.activity-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-calendar {
  max-width: 600px;
  width: 100%;
  justify-self: center;
  margin-top: 32px;
}

.progress-value {
  display: flex;         
  flex-direction: row;   
  align-items: center;   
  justify-content: flex-start; 
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #3DADFF;
}

.streak-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: bold;
  color: #F0512D;
}

.detailFireIcon {
  height: 32px;
}
.activity-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 4px;
  text-align: center;
  font-size: 0.7rem;
  align-self: center;
  width: 100%;
  max-width: 300px;        
  margin: 0 auto;
  margin-top: 4px;
}


.activity-day-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;              
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 8px auto; 
  width: 100%;
  max-width: 300px;      
}

.activity-day-labels div {
  padding: 4px 0;
}

.mini-day {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;    
  background: rgba(255, 255, 255, 0.06); 
  color: rgba(255, 255, 255, 0.4);
  width: 32px;
  height: 32px;
  font-size: 12px;
  margin: 0 auto;        
}

.mini-day.habit-done {
  background: #4caf50; 
  color: white;
  font-weight: bold;
}

.mini-day.inactive {
  opacity: 0.3; 
}

.mini-day-label {
  font-weight: bold;
  font-size: 0.6rem;
  color: #666;
  padding-bottom: 5px;
  text-align: center;
  width: 34px;
}

.mini-cal-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.mini-cal-header h4 {
  width: 176px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  align-items: center;
  line-height: 40px;
  border-radius: 50px;
  height: 40px;
  /* liquid glass effect */
  background: rgba(255, 255, 255, 0.02); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.3s ease;             /* płynne przejście */
}

.mini-cal-nav button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  color: white;

  /* liquid glass effect */
  background: rgba(255, 255, 255, 0.02); /* półprzezroczyste */
  backdrop-filter: blur(8px);           /* efekt rozmycia tła */
  -webkit-backdrop-filter: blur(8px);   /* dla Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* delikatna ramka */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* lekki cień */
  transition: all 0.2s ease;             /* płynne przejście */
}
.mini-cal-nav button:hover {
  opacity: 72%;
}


/* HERO */ /* ------------------------------------------------------------------------ */

.userStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usernameWrapper {
  display: flex;
  flex-direction: row;
  max-width: 360px;
  width: 100%;
  align-items: center;
}

.levelWrapper {
  display: flex;
  flex-direction: row;
  max-width: 360px;
  width: 100%;
  align-items: center;
}

.levelIndicator {
  height: 8px;
  width: 200px;
  border-radius: 12px;
  background-color: rgb(87, 87, 87);
}

@media (max-width: 740px) {
  .logo {
    display: none;
  }
  .navIcon {
    width: 20px;
    height: 20px;
  }
  .tabNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 8px;
  }
  .tabNavItem {
    font-size: 8px;
    width: 64px;
  }
  .calendar {
    height: 40vh;
  }
  .calendar-grid {
    padding-left: 4px;
    padding-right: 4px;
    gap: 4px;
  }
  .day {
    aspect-ratio: 1;
    width: 36px;
    height: 36px;
  }
  .toDo {
    width: 96%;
    max-width: 660px;
  }
  .addTaskBtn {
    bottom: 16px;
    right: 16px;  
  }
  
}
@media (max-width: 360px) {
  .typePickers {
    gap: 2px;
  }
}